@import './colors.scss';

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: url('assets/images/cloth_alike.png');
    
  }
  
  body::after {
    content: "";
    opacity: 1.8;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    color: $granite-gray;
    background-image: linear-gradient(to top left,#002f4b,#dc4225);
    opacity: 0.1;
  }